language: java
os: linux
jdk: oraclejdk11
services:
    - mongodb
env:
    - PROJECT_DIR=hw1-hashtable
    - PROJECT_DIR=hw2-trie
    - PROJECT_DIR=test2-injector

script: cd $PROJECT_DIR && ./gradlew build
